* {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: #125773;
}

header img {
    width: 10%;
}

nav ul, li, a{
    display: flex;
    text-decoration: none;
    list-style: none;
    color: white;
    gap: 15px;
}