@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&display=swap');


* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #000000;
    border-bottom: #ffffff solid 1px;
}


/* MENU MOBILE */

/* icones do menu hamburguer */
.menu-btn {
    display: none;
    /* torna o item invisivel / só aparece no mobile */
    cursor: pointer;
    font-size: 2rem;
    color: white;
}


.nav-menu {
    display: none;
}


.logo img {
    width: 35%;
}

.navegador ul,
li,
a {
    display: flex;
    text-decoration: none;
    list-style: none;
    font-family: "playwrite DE SAS";
    color: white;
    gap: 25px;
}

.banner {
    background-image: url(img/desktop.png);
    background-size: cover;
    background-position: top;
    padding: 15rem;
}

main {
    background-color: #636363;
}

.text-content {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 2rem;
}

.text-content p {
    margin-top: 10px;
}

.auto-type {
    padding: 0.15rem;
}

.text-content span {
    color: rgb(255, 255, 255);
}


.pai-caixas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 3rem;
}

.icon i {
    font-size: 1.7rem;
    color: #ffffffd5;
}

.icon {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    gap: 15px;
}

.box {
    align-items: center;
    border: 3px solid #ffffff;
    background-color: rgb(0, 0, 0);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.445);
    padding: 1rem;
    width: 25%;
    height: 18rem;
    transition: 0.8s;
}

.box:hover {
    transform: scale(1.1);
}

.box p {
    color: #ffffff;
    margin-bottom: 30px;
}

.p-button {
    align-items: center;
    text-align: center;
    gap: 30px;

}

.p-button button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    width: 50%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.caixa3 {
    align-items: center;
    background-image: url(img/criptomoeda.jpg);
    background-size: cover;
    background-position: center;
    border: 3px solid #f8fbff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.445);
    padding: 1rem;
    width: 25%;
    height: 18rem;
    transition: 0.8s;
}

.caixa3:hover {
    transform: scale(1.1);
}

.cx3 {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    text-align: center;
    gap: 30px;
}


.cx3 p {
    color: white;
}

.cx3 button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    width: 50%;
    background-color: #000000;
    color: white;
}

.caixa4 {
    border: 3px solid #ffffff;
    background-image: url(img/banner-caixa.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.445);
    padding: 1rem;
    width: 25%;
    height: 18rem;
    transition: 0.8s;
}

.caixa4:hover {
    transform: scale(1.1);
}

.inpt {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 3rem;
    gap: 10px;
}


.text,
.btn-inpt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.text h2 {
    margin-bottom: 20px;
}

.text p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.btn-inpt input {
    outline: none;
    padding: 4px;
    width: 300px;
}

.btn-inpt button {
    background-color: #000000;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    width: 100px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    gap: 150px;
    padding: 2rem;
}

footer a {
    transition: 0.8s;
}

footer a:hover {
    transform: scale(1.2);
}

.icones {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    gap: 40px;
    font-size: 3rem;
}

.icones i {
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.card1,
.card2,
.card3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border-bottom: 1px solid white;
}

.card1 a,
.card2 a,
.card3 a {
    margin-bottom: 10px;
    font-size: 1.3rem;
}


/* @media vai servir para definir configurações/estilizações para tamanhos de tela em especifico */


@media (max-width:768px) {

    header {
        padding: 1rem;
    }

    .logo {
        width: 300px;
    }

    .banner {
        background-image: url(img/tablet.png);
        padding: 6.5rem;
    }

    .menu-desktop {
        /*aqui estamos ocultando o meu para versoes mobile*/
        display: none;
    }

    .menu-btn {
        display: flex;
    }

    .nav-menu {
        position: absolute;
        top: -30rem;
        /* Começa escondido acima*/
        left: -2rem;
        /* Ajustando o alinhamento do menu*/
        width: 100%;
        /* Largura total da caixa do menu*/
        height: 31vh;
        /*Altura da caixa*/
        background-color: #000000;
        transition: to 0.3s ease-in-out;
        /* transição suave*/
        display: flex;
        /*Alinhamento dos items*/
        justify-content: center;
        /* Alinhamento Horizontal*/
        align-items: center;
        /* Alinhamento Vertical*/
    }

    .show {
        /* Essa class será usada pelo javascript para ação do menu */
        top: 95px;
        /* desce suavemente quando é ativado */
        left: 0rem;
        /* posicionamento do menu */
    }

    /* MENU HORIZONTAL */

/* .nav-menu {
  position: fixed;
  top: 0;
  left: -100%;escondido fora da tela 
  /* width: 70%; tamanho da gaveta 
  /* height: 130vh;
  background-color: #D8D8C0;
  transition: left 0.3s ease-in-out; animação lateral 
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999; 
}
  */ 

/* Quando o JS adicionar a classe .show 
.show {
  left: 0; /* entra na tela 
} */

    .navegadorul ul,
    li,
    a {
        font-size: 1.2rem;
    }

    .section-02 {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .pai-caixas {
        display: flex;
        padding: 0;
        width: 100%;
    }

    .box {
        width: 70%;
    }

    .box:hover {
        transform: none;
    }

    .box2 {
        width: 70%;
    }

    .tree {
        display: flex;
        margin-top: 50px;
        width: 100%;
    }

    .caixa4 {
        margin-bottom: 50px;
    }


    .box2:hover {
        transform: none;
    }

    footer {
        display: flex;
        font-size: 1rem;
        gap: 25px;
    }

    footer a:hover {
        transform: none;
    }

    .card1,
    .card2,
    .card3 {
        border: none;
    }

    .card1 a,
    .card2 a,
    .card3 a {
        margin-left: 20px;
        font-size: 0.7rem;
    }

    .icones {
        font-size: 1.5rem;
        gap: 10px;
    }
}



@media (max-width:320px) {

    header {
        display: flex;
        justify-content: center;
        padding: 5px;
    }

    .logo {
        width: 250px;
    }

    .menu-desktop {
        /*aqui estamos ocultando o meu para versoes mobile*/
        display: none;
    }

    .menu-btn {
        display: flex;
    }

    .nav-menu {
        position: absolute;
        top: -30rem;
        /* Começa escondido acima*/
        left: -2rem;
        /* Ajustando o alinhamento do menu*/
        width: 100%;
        /* Largura total da caixa do menu*/
        height: 41vh;
        /*Altura da caixa*/
        background-color: #000000;
        transition: to 0.3s ease-in-out;
        /* transição suave*/
        display: flex;
        /*Alinhamento dos items*/
        justify-content: center;
        /* Alinhamento Horizontal*/
        align-items: center;
        /* Alinhamento Vertical*/
    }

    .show {
        /* Essa class será usada pelo javascript para ação do menu */
        top: 95px;
        /* desce suavemente quando é ativado */
        left: 0rem;
        /* posicionamento do menu */
    }

    .navegadorul ul,
    li,
    a {
        font-size: 1.2rem;
    }

    .banner {
        background-image: url(img/mobile.png);
        padding: 7rem;
    }

    .section-02 {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .pai-caixas {
        width: 100%;
    }

    .box {
        width: 80%;
    }

    .box:hover {
        transform: none;
    }

    .tree {
        width: 100%;
    }

    .box2:hover {
        transform: none;
    }

    footer {
        gap: 30px;
    }

    .icones {
        margin-left: 15px;
        flex-direction: column;
        font-size: 1rem;
        gap: 10px;
    }
}