@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&display=swap');


* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: #125773;
}


.logo img {
    width: 35%;
}


.navegador ul, li, a{
    display: flex;
    text-decoration: none;
    list-style: none;
    font-family: "playwrite DE SAS";
    color: white;
    gap: 15px;
}