@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&display=swap');


* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #000000;
    border-bottom: #ffffff solid 1px;
}

.logo img {
    width: 35%;
}

.navegador ul,
li,
a {
    display: flex;
    text-decoration: none;
    list-style: none;
    font-family: "playwrite DE SAS";
    color: white;
    gap: 25px;
}

.banner {
    background-image: url(img/desktop.png);
    background-size: cover;
    background-position: top;
    padding: 15rem;
}

.section-02 {
    background-color: #636363;
}

.text-content {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 2rem;
}

.text-content h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #ffffff;
}

.text-content span {
    color: rgb(207, 207, 207);
}

.pai-caixas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 3rem;
    background-color: #636363;
}

.icon i {
    font-size: 1.7rem;
    color: #ffffffd5;
}

.icon {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    gap: 15px;
}

.box {
    align-items: center;
    border: 3px solid #ffffff;
    background-color: rgb(0, 0, 0);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.445);
    padding: 1rem;
    width: 25%;
    height: 18rem;
    transition: 0.8s;
}

.box:hover{
    transform: scale(1.1);
}

.box p {
    color: #ffffff;
    margin-bottom: 30px;
}

.p-button {
    align-items: center;
    text-align: center;
    gap: 30px;

}

.p-button button{ 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    width: 50%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.caixa3 {
    align-items: center;
    background-image: url(img/criptomoeda.jpg);
    background-size: cover;
    background-position: center;
    border: 3px solid #f8fbff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.445);
    padding: 1rem;
    width: 25%;
    height: 18rem;
    transition: 0.8s;
}

.caixa3:hover{
    transform: scale(1.1);
}

.cx3 {
    display:flex ;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    text-align: center;
    gap: 30px;
}


.cx3 p {
    color: white;
}

.cx3 button{ 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    width: 50%;
    background-color: #000000;
    color: white;
}

.caixa4 {
    border: 3px solid #ffffff;
    background-image: url(img/banner-caixa.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.445);
    padding: 1rem;
    width: 25%;
    height: 18rem;
    transition: 0.8s;
}

.caixa4:hover{
    transform: scale(1.1);
}

.inpt {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 3rem;
    gap: 10px;
}


.text, .btn-inpt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.text h2{
    margin-bottom: 20px;
}

.text p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.btn-inpt input{
    outline: none;
    padding: 4px;
    width: 300px;
}

.btn-inpt button {
    background-color: #000000;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    width: 100px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    gap: 150px;
    padding: 2rem;
}

footer a {
    transition: 0.8s;
}

footer a:hover {
    transform: scale(1.2);
}

.icones {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    gap: 40px;
    font-size: 3rem;
}

.icones i {
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.card1, .card2, .card3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.card1, .card2, .card3 {

    border-bottom: 1px solid white;
} 

.card1 a, .card2 a, .card3 a {
    margin-bottom: 10px;
    font-size: 1.3rem;
}


/* @media vai servir para definir configurações/estilizações para tamanhos de tela em especifico */


@media (max-width:768px) {

    header {
        padding: 1rem;
    }

    .banner {
        background-image: url(img/tablet.png);
        padding: 6.5rem;
    }

    nav {
        /*aqui estamos ocultando o meu para versoes mobile*/
        display: none;
    }

    .section-02 {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .pai-caixas {
        display: flex;
        padding: 0;
        width: 100%;
    }

    .box {
        width: 50%;
    }

    .box:hover {
        transform: none;
    }

    .tree {
        display: flex;
        margin-top: 50px;
        width: 100%;
    }
    .caixa4 {
        margin-bottom: 50px;
    }

    .box2 {
        width: 50%;
    }

    .box2:hover {
        transform: none;
    }

    footer {
        flex-direction: column;
        gap: 25px;
    }
}



@media (max-width:320px) {

    header {
        display: flex;
        justify-content: center;
        padding: 5px;
    }

    nav {
        /*aqui estamos ocultando o meu para versoes mobile*/
        display: none;
    }

    .banner {
        background-image: url(img/mobile.png);
        padding: 7rem;
    }

    .section-02 {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .pai-caixas {
        width: 100%;
    }

    .box {
        width: 60%;
    }

    .box:hover {
        transform: none;
    }

    .tree {
        width: 100%;
    }

    .box2 {
        width: 60%;
    }

    .box2:hover {
        transform: none;
    }
}